@model IEnumerable<INTEX.Models.Work_Orders>

@{
    ViewBag.Title = "Current Work Orders";
}

<h2>Current Work Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LT_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rushed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount_Percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reports)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LT_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rushed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount_Percentage)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reports)
            </td>
            <td>
                @Html.ActionLink("Tests", "ShowWorkOrderTests", new { id = item.OrderID })
            </td>
        </tr>
        }

        </table>
