@model IEnumerable<INTEX.Models.Employees>

@{
    ViewBag.Title = "Employee Dashboard";
    Layout = "~/Views/Shared/Employee_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css">

<div style="text-align: center">
    <div>
        <h2 class="btnTitle" style="text-align: center;"></h2>
        <a href="@Url.Action("CurrentCustomers", "Employees")"><button class="homeBtn">Customers</button></a>
    </div>
    <br />
    <div>
        <h2 class="btnTitle" style="text-align: center"></h2>
        <a href="@Url.Action("CurrentWorkOrders", "Employees")"><button class="homeBtn">Current Work Orders</button></a>
    </div>
    <br />
    <div>
        <h2 class="btnTitle" style="text-align: center;"></h2>
        <a href="@Url.Action("PastWorkOrders", "Employees")"><button class="homeBtn">Search Work Orders</button></a>
    </div>
    <br />
    <div>
        <h2 class="btnTitle" style="text-align: center;"></h2>
        <a href="@Url.Action("ReportIndex", "Employees")"><button class="homeBtn">Reports</button></a>
    </div>
    <br />
    <div>
        <h2 class="btnTitle" style="text-align: center;"></h2>
        <a href="@Url.Action("Employees", "Employees")"><button class="homeBtn">Employees List</button></a>
    </div>
</div>


