@model IEnumerable<INTEX.Models.Work_Orders>

@{
    ViewBag.Title = "CompletedOrders";
}

<h2>Reports</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LT_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rushed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount_Percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reports)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LT_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rushed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount_Percentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reports)
        </td>
        <td>
            @Html.ActionLink("View Report", "Report", new { orderID=item.OrderID })
        </td>
    </tr>
}

</table>
<style>
    table {
        border-collapse: collapse;
        width: 25%;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr {
        background-color: #f2f2f2
    }

    th {
        background-color: #7C87A6;
        color: white;
        border-top-color: #7C87A6;
        border-left-color: #7C87A6;
        border-right-color: #7C87A6;
    }
</style>