@model IEnumerable<INTEX.Models.Payments>

@{
    ViewBag.Title = "Invoice";
}

<h2>Invoices</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Due_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlyDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Quote_Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Due_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarlyDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Quote_Price)
        </td>
        <td>
            @Html.ActionLink("Pay Invoice", "Index", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<style>
    table {
        border-collapse: collapse;
        width: 25%;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr {
        background-color: #f2f2f2
    }

    th {
        background-color: #7C87A6;
        color: white;
        border-top-color: #7C87A6;
        border-left-color: #7C87A6;
        border-right-color: #7C87A6;
    }
</style>