@model INTEX.Models.ServicesModel
@{
    ViewBag.Title = "Quote";
}

<h2>Quote</h2>


@using (Html.BeginForm())
{
<table>
    @for (int i = 0; i < Model.lstServices.Count(); i++)
    {
        <td>
            @Html.CheckBoxFor(model => model.lstServices[i].isChecked)
            <label>@Model.lstServices[i].Test_Name </label>
            @Html.HiddenFor(model => model.lstServices[i].Procedure_Description)
            @Html.HiddenFor(model => model.lstServices[i].Test_Cost)
            @Html.HiddenFor(model => model.lstServices[i].Test_Name)
            @Html.HiddenFor(model => model.lstServices[i].Test_Type)
        </td>
    }

</table>
    <h2>@ViewBag.Price</h2>


    <input type="submit" name="name" value="Get Price" />
    <input type="button"
           value="Submit Quote"
           onclick="location.href='@Url.Action("AddQuote", "Customers", new { custPhone = ViewBag.phone })'" />
}