@model INTEX.Models.Tests

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tests</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LT_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LT_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raw_Results)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raw_Results)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test_Date_Scheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Date_Scheduled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
