@model IEnumerable<INTEX.Models.Tests>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LT_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raw_Results)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test_Date_Scheduled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LT_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raw_Results)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test_Date_Scheduled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Compound_Sequence_Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Compound_Sequence_Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Compound_Sequence_Code })
        </td>
    </tr>
}

</table>
